*{
	padding: 0;
	margin: 0;
}

#container {
	width: 900px;
	min-height: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 100px 50px;
    perspective: 800px;
	position: relative;
	top: 0;
}

#box {
	width: 128px;
	height: 100px;
	margin-left: -64px;
	transition: transform 1s;
	transform-style: preserve-3d;

	position: absolute;
	left: 50%;
	transform: rotate(0deg);
}

img{
	width: 183px;
	height: 100px;
	position: absolute;
}

img:nth-child(1) { transform: rotateY(   0deg ) translateZ(178.438px); }
img:nth-child(2) { transform: rotateY(  60deg ) translateZ(178.438px); }
img:nth-child(3) { transform: rotateY( 120deg ) translateZ(178.438px); }
img:nth-child(4) { transform: rotateY( 180deg ) translateZ(178.438px); }
img:nth-child(5) { transform: rotateY( 240deg ) translateZ(178.438px); }
img:nth-child(6) { transform: rotateY( 300deg ) translateZ(178.438px); }
